
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUpController</title>
</head>
<body>
    <br /><br />
    <div>
        <h2>Registration</h2>
        <br /><br />
        <form method="post" action="">
            &nbsp; Input your name: &nbsp;
            <input name="name" type="text" /> <br/><br/>
            &nbsp; Input your password: &nbsp;
            <input name="password" type="text" />
            &nbsp;
            <input type="submit" value="Confirm" />
        </form>
    </div>
</body>
</html>
